<div class="fill">
<div class="container">

<div id="top" class="row center">
	<h1> Messages <h1>
</div>

<div class="row">
	<span id="name" class="span12">
		<span class="offset1 span3" id="nameText"> Name </span> <span class="offset2" id="nameText"> Delete </span>
	</span>



	
	<% @messages.each do |message| %>

	<span id="name" class="span12">
		<a class="offset1 span3" id="nameText"> <%= message.sender['first_name'] + ' ' + message.sender['last_name'] %></a><a><%= link_to "Show", messages_show_path(message.id) %>
</a> <a> <%= link_to "Delete", messages_delete_path(message.id) %> </a>
	</span>

	<% end %>

</div>
</div>
</div>
