<div class="fill">
<div class="container">

<div id="bottomHeader" class="row center">
	<h1> My Matches <h1>
</div>


<div class="row">
	<span id="name" class="span12">
		<span class="offset0 span2 headerMatch" id="nameText"> Name </span> <span class="offset2 headerMatch" id="nameText"> Skills </span> 
	</span>
	

	<% @final_user_data.each do |user| %>

	<span id="name" class="span12">
		<span class="offset0 span3" id="nameText"> <%= user[:first_name] + ' ' + user[:last_name] %></span> <span class="offset2" id="nameText"> <%= user[:skills].join(" ") %> </span> 
			<a><%= link_to "Message", messages_new_path(user[:id]) %>
</a>
	</span>

	<% end %>

</div>

</div>
</div>

