<div class="fill">
<div class="container">
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="./index.html">Hexis</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="offset8">
            <a href="users/sign_in">Log In</a>
          </li>
          <li class="spaceInBetween">
            <a href="users/sign_up">Sign Up</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

<div id="backgroundImageNeeded">
  <div class="container">
	<div class="span6">
    <h1 id="middleTopText" class="middle">Acquire the skills of your dreams.</h1>
    <p id="middleOtherText" class="middle row">Use Hexis to <u>learn anything.</u> You teach someone one of your skills, they teach you theirs. It's that simple.</p>
	<input type="submit" class="btn btn-success btn-large offset2" value="Sign Up Now" onclick="location.href='users/sign_up';"/>
	</div>
  	<div id="rightSide">
	<span class="offset1">
		<img src="http://blogs.nature.com/naturejobs/files/2012/10/New-Image4.jpg" height="223" width="352">
	</span>
	</div>	
  </div>
</div>

<div class="container">
	<div class="row">
		<h1 id="bottomHeader" class="center">How Hexis Can Help</h1>
	</div>
	<div class="row">
		<h4 id="bottomText">We try our absolute best to help our users gain the skills that they desire. It all starts with yourself, teach something you are already skilled at, in return for something you want to be skilled at. The concept is easy; we make that process easy as well. Sign up above to get started in 1 minute!</h4>
	</div>

<hr>

</div>
</div>
</div>
